<article class="post">
  <div class="post-content">
	<p class="post-reply">
	  >>{{"reply"}}
	</p>
    <img class="image-content" src="{{"URL"}}" />
    <p class="post-text">
      {{"text"}}
    </p>
    <p class="post-author">
      <a href="#">{{"author"}}</a>
    </p>
	<p class="post-ID">
	  {{"ID"}}
	</p>
  </div>
</article>