<article class="post">
  <div class="post-content">
	<p class="post-reply">
	  >>{{"postReply"}}
	</p>
    <img class="image-content" src="{{"postURL"}}" />
    <p class="post-text">
      {{"postText"}}
    </p>
    <p class="post-author">
      <a href="#">{{"postAuthor"}}</a>
    </p>
	<p class="post-ID">
	  {{"postID"}}
	</p>
  </div>
</article>