<article class="post">
  <div class="image-content">
    <img class="post-image" src="{{"URL"}}" />
  </div>
  <div class="post-content">
	<p class="post-reply">
	  <a href="/posts/{{"reply"}}"> >>{{"reply"}} </a>
	</p>
    <p class="post-text">
      {{"text"}}
    </p>
    <p class="post-author">
      <a href="#">{{"author"}}</a>
    </p>
	<button class="button">{{"ID"}}</button>
  </div>
</article>